body {
	display: flex;
	flex-direction: column;
	margin-top: 0;
    background-color: gray;
}

.container {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.header {
    font-size: 50px;
    margin-top: 10px;
}

.grid {
    height: 650px;
    width: 650px;
    display: grid;
    margin-top: 40px;
}

.square {
    border: black;
    border-color: black;
}

* {
	box-sizing: border-box;
	transition: all 0.3s ease;
}

nav {
	display: flex;
	flex-direction: row;
	height: 50px;
	z-index: 1;
}

nav a {
	margin-top: -150px; 
	height: 225px;
    width: 700px;
	text-decoration: none;
	font-size: 1.3em;
	color: black;
	border-radius: 0 0 5px 5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav a:hover {
	margin-top:0px;
}

#menu {
	background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
}